*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}


/* scroll bar  */

::-webkit-scrollbar{
    background-color: white;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 10px;
}

/* navbar style  */

nav{
    width: 100%;
    height: 100%;
    padding: 15px 5%;
    background-color:#252525;
    display: flex;
    justify-content: space-between;
    z-index: 111;
}
nav .menu ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;

}
.logo h1{
    font-size: 30px;
    margin: 0;
    color: #ffff;
}
.logo p{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 8px;
    letter-spacing: 5px;
    margin-top: -4px;
}
nav .menu{
    margin: auto 0;
}
nav .menu ul a{
    margin: 0 10px;

}
nav .menu ul li{
    transition: 1s;
    width: 100%;
    padding: 8px;
    border-radius: 25px;
}
.menu ul a .active{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    width: 150px;
    border-radius: 25px;
    color: #252525;
}
.menu ul a .active:hover{
    margin: 0;
    width: 150px;
    color: white;
    
}

.menu ul a li:hover{
    color: #252525;
    margin: 0 10px;
    width: 100%;
    background-color:  #00ffff;
}

/* conatianer style  */

.container{
    padding: 25px 8%;
    position: relative;
}
.row-1 h1{
    color: #252525;
    margin-bottom: 10px;

}
.row-1 p{
    color: #252525;
    font-weight: 400;

}
.row-1{
    display: flex;
    
}
.col-1 img{
    width: 100%;
}
.col-1{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.col-2{
    flex-basis: 50%;
}


.col-3{
    flex-basis: 10%;
}

.col-3 ul li{
    color: #252525;

}

.col-3{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.col-3 hr{
    width: 80%;
    margin: 0 auto;
}
.col-3 ul li{
    width: 150px;
    padding: 15px;
    font-size: 18px;
    transition: 0.5s;
}
.col-3 ul li:hover{
    color: white;
}
.col-3 ul li:hover {
    background-color: #252525;
    border-radius: 2px;
}

.row-1 button{
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 12px;
    width: 150px;
    background-color: #252525;
    margin-right: 30px;
    transition: 0.5s;
}
.row-1 button:hover{
    background-color: #00ffff ;
}
.row-1 button:hover a{
    color: #252525;
}

/* chapter-box  */


.chapter-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
}
.c-1{
    top: 0;
    position: absolute;
    background-color: #25252564;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.box p,h1{
    color: #252525;
    margin-bottom: 25px;
}
.box button{
    background-color: #252525;
    color: white;
    width: 150px;
    border-radius: 25px;
    padding: 8px;
    cursor: pointer;
}
.box{
    background-color: #ffff;
    width: 80%;
    height: 75vh;
    padding: 30px;
    border-radius: 5px;

}